* {
    padding: 0;
    margin: 0;
}

body{
    background-color: #ebe9e9;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: 5px 5px 10px #a0a0a0, -2px -2px 5px #f8f8f8;
}

.container {
    padding: 60px 20px 20px 20px; 
    max-width: 250px;
    margin: 70px auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    row-gap: 10px;
    border-radius: 25px;
    background: linear-gradient(145deg, #cacaca, #e4e4e4);
    box-shadow: 5px 5px 10px #a0a0a0, -5px -5px 10px #ffffff;
}

.output {
    grid-area: 1/1/span 1/span 4;
    width: 100%;
    min-height: 100px;
    max-height: 120px;
    text-align: right;
    padding: 10px 10px;
    box-sizing: border-box;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
}

.previous-operand {
    font-size: 20px;
    color: #000;
    min-height: 20px;
}

.current-operand {
    font-size: 40px;
    color: #02bac4;
}

.span-two {
    grid-area: span 1/span 2;
    width: 120px;
    border-radius: 25px;
}

.blue {
    color: white;
    background: #1EC3CD;
}

.operator,.delete,.all-clear{
    color: #02bac4;
}

button:active{
    box-shadow: 2px 2px 10px #a0a0a0, -1px -1px 5px #f8f8f8;
}

